<div class="text-center">
    <form class="form-login" id="login" action="/login" method="post">
        <img src="/images/icons/property_repair.jpg" alt="Property repair" width="100%" height="auto">
        <div class="mb-3" style="margin-top: 15px;">
            <label for="loginEmail" class="sr-only">Email address</label>
            <input type="email" id="loginEmail" name="username" class="form-control"
                   placeholder="Email address"
                   autofocus>
        </div>
        <div class="mb-3">
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="checkPassword" name="password" class="form-control"
                   placeholder="Password">
            <br/>
            <input type='checkbox' id='checkPasswordBox'/> Show Password
        </div>
        <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">Login</button>
    </form>
</div>