input.error{
    border: 1px solid red;
}

input.error:focus{
    border: 1px solid red;
    box-shadow: 0 0 0.2rem 0.1rem red;
}

label.error{
    color: red;
}

input.valid{
    border: 1px solid forestgreen;
}

input.valid:focus{
    border: 1px solid forestgreen;
    box-shadow: 0 0 0.2rem 0.1rem limegreen;
}

label.valid{
    color: forestgreen;
}

:not(input:not(input + .spring-error)) {
    border: 1px solid red;
}